.landingPage {
     height: calc(90vh - 80px);
}

.landingPage-left {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.landingPage-right {
     width: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.landingPage-right img {
     width: auto;
     height: auto;
     animation: landingPage linear alternate infinite;
     animation: landingPage 3s linear 1s infinite alternate;
}

@keyframes landingPage {

     from {
          transform: translateY(20px);
     }

     to {
          transform: translateY(0px);
     }

}